//Loading Screen Animations
@keyframes begone {
	0% { z-index: 50; opacity: 1; }
	100% { z-index: -10; opacity: 0; }
}

@keyframes logo-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bg-glow {
	0%   { opacity: 0; }
	50%   { opacity: 1; }
  100% { opacity: 0; }
}

//Box Animations
@keyframes delayHide {
	0%, 80% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes bobble {
	0% {transform: rotateX(-10deg) translateZ(2px) scale(0.98);}
	40% {transform: rotateX(5deg) translateZ(2px) scale(0.98);}
	80% {transform: rotateX(0deg) translateZ(0)  scale(1);}
}

@keyframes trayBounce {
  0% {bottom: calc(75vh * .194); -webkit-animation-timing-function: ease-in;}
  66% {bottom: 0; -webkit-animation-timing-function: ease-out;}
  82% {bottom: 15px; -webkit-animation-timing-function: ease-in;}
  92% {bottom: 0; -webkit-animation-timing-function: ease-out;}
  97% {bottom: 5px; -webkit-animation-timing-function: ease-in;}
  100% { bottom: 0;}
}

@keyframes spinnin {
	0% { transform: translateY(-50%) translateX(-50%) rotate(0deg) }
	100% { transform: translateY(-50%) translateX(-50%) rotate(360deg) }
}

@keyframes boxin {
	0% {transform: translateZ(20px) translateX(-74%) translateY(-180px) skew(10deg, -10deg) rotateZ(-10deg) rotateX(15deg)}
	100% {transform: translateZ(0) translateX(-50%) translateY(0px) skew(0deg, 0deg) rotateZ(0deg) rotateX(0deg)}
}

//Button Animations
@keyframes buttonbobble {
	0% {transform: rotateX(-10deg) translateZ(2px) scale(0.98);}
	40% {transform: rotateX(5deg) translateZ(2px) scale(0.98);}
	80% {transform: rotateX(0deg) translateZ(0)  scale(1);}
}

//Golden Animation
@keyframes goldenanimation {
	100% { transform: translatex(-100%); }
}

// Pack Opening Animations
@keyframes growfade {
	0%, 21% {opacity: 0; transform: scale(0.5)}
	28% {opacity: 1; transform: scale(1)}
	40%, 100% {opacity: 0; transform: scale(1.3)}
}

@keyframes hoverglowflip {
	0% {opacity: 0; transform: scale(0.9) rotateY(0deg)}
	10% {opacity: 1; transform: scale(0.94) rotateY(-18deg)}
	100% {opacity: 1; transform: scale(1) rotateY(-180deg)}
}

@keyframes packburst {
	99.9% { background-position: left bottom; opacity: 1 }
	100% { background-position: left bottom; opacity: 0 }
}

@keyframes coinflip {
	100% { background-position: left bottom; }
}

@keyframes pulse {
	0%, 100% {opacity: 0.7;}
  50% {opacity: 1;}
}

@keyframes shockwave {
	70% {opacity: 1; background-size: auto 100%;}
	100% {opacity: 0;}
}

@keyframes flynw {
	0%, 18.9% {top: 50%; left: 61.5%; opcity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  53%, 100% {top: -150%; left: -110%; tranfrorm: scale(6);}
}

@keyframes flysw {
	0%, 18.9% {top: 50%; left: 61.5%; opacity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  55%, 100% {top: 150%; left: -110%; tranfrorm: scale(9);}
}

@keyframes flyne {
	0%, 18.9% {top: 50%; left: 61.5%; opacity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  60%, 100% {top: -150%; left: 110%; tranfrorm: scale(7);}
}

@keyframes flyse {
	0%, 18.9% {top: 50%; left: 61.5%; transform: scale(1); opacity: 0;}
	19% {top: 50%; left: 61.5%; transform: scale(1); opacity: 1;}
  45%, 50% {top: 150%; left: 150%; transform: scale(9); opacity: 1;}
  55%, 100% {top: 150%; left: 150%; transform: scale(9); opacity: 0;}
}

@keyframes debrisspin {
	0% {transform: translateX(-50%) translateY(-50%) rotate(0deg);}
  100% {transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}

@keyframes openin {
  0% {opacity: 0; transform: scale(0.7);}
  100% {opacity: 1; transform: scale(1);}
}

// coin animations
@keyframes coinfly1 {
	0%, 19% {top:50%; left: 50%;}
	70%, 100% {top: -50%; left: 10%;}
}
@keyframes coinfly2 {
	0%, 19% {top:50%; left: 50%;}
	50%, 100% {top: 30%; left: -200%;}
}
@keyframes coinfly3 {
	0%, 19% {top:50%; left: 50%;}
	55%, 100% {top: 50%; left: 200%;}
}
@keyframes coinfly4 {
	0%, 19% {top:50%; left: 50%;}
	65%, 100% {top: -50%; left: 50%;}
}
@keyframes coinfly5 {
	0%, 19% {top:50%; left: 50%;}
	60%, 100% {top: 200%; left: -200%;}
}
@keyframes coinfly6 {
	0%, 19% {top:50%; left: 50%;}
	55%, 100% {top: 80%; left: 200%;}
}
@keyframes coinfly7 {
	0%, 19% {top:50%; left: 50%;}
	70%, 100% {top: 200%; left: 90%;}
}
@keyframes coinfly8 {
	0%, 19% {top:50%; left: 50%;}
	50%, 100% {top: -10%; left: 200%;}
}
@keyframes coinfly9 {
	0%, 19% {top:50%; left: 50%;}
	60%, 100% {top: 30%; left: 200%;}
}
@keyframes coinfly10 {
	0%, 19% {top:50%; left: 50%;}
	65%, 100% {top: 200%; left: 40%;}
}

// cards flying from pack
@keyframes cardfly1 {
	30% {
		top: -8%;
    transform: translateX(0) translateY(0) scale(1) rotateZ(6deg);
	}
	100% {
		top: 0;
		transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardfly2 {
	40%  {
		top: -5%;
    left: 20%;
    transform: translateX(0) translateY(0) scale(1.3) rotateZ(-16deg) rotateY(33deg) rotateX(-24deg);
	}
	100% {
		top: 10%;
		left: 25%;
		transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardfly3 {
	30%  {
		top: 0%;
    left: 75%;
    transform: translateX(0) translateY(0) scale(1) rotateZ(2deg) skewY(0deg) skewX(13deg) rotateY(37deg);
	}
	100% {
		top: 10%;
		left: 68%;
		transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardfly4 {
	40%  {
		top: 50%;
    left: 26%;
    transform: translateX(0) translateY(0) scale(1) rotateZ(-18deg) skewY(5deg) skewX(2deg) rotateY(-47deg);
	}
	100% {
		top: 52%;
		left: 34%;
		transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardfly5 {
	30%  {
		top: 48%;
    left: 70%;
    transform: translateX(0) translateY(0) scale(1.3) rotateZ(6deg) skewY(0deg) skewX(-13deg) rotateY(38deg);
	}
	100% {
		top: 52%;
		left: 59%;
		transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}


// cards idle
@keyframes cardidle1 {
	0%, 100% {
		top: 15%;
		transform: translateX(0) translateY(0) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
	50% {
		top: 15%;
		transform: translateX(-1%) translateY(1%) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardidle2 {
	0%, 100% {
		top: 25%;
		left: 35%;
		transform: translateX(0) translateY(0) scale(0.7) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
	50% {
		top: 25%;
		left: 35%;
		transform: translateX(-1%) translateY(1%) scale(0.7) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardidle3 {
	0%, 100% {
		top: 25%;
		left: 70%;
		transform: translateX(0) translateY(0) scale(0.7) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
	50% {
		top: 25%;
		left: 70%;
		transform: translateX(-1%) translateY(1%) scale(0.7) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardidle4 {
	0%, 100% {
		top: 60%;
		left: 42.5%;
		transform: translateX(0) translateY(0) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
	50% {
		top: 60%;
		left: 42.5%;
		transform: translateX(-1%) translateY(1%) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}
@keyframes cardidle5 {
	0%, 100% {
		top: 60%;
		left: 62.5%;
		transform: translateX(0) translateY(0) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
	50% {
		top: 60%;
		left: 62.5%;
		transform: translateX(-1%) translateY(1%) scale(0.7) rotateZ(0deg) skewY(0deg) skewX(0deg);
	}
}

//Modal Animations
@keyframes bounceIn {
  0% {transform: scale(0.7) translateX(-50%) translateY(-50%);}
  50% {transform: scale(1.1) translateX(-50%) translateY(-50%);}
  75% {transform: scale(0.9) translateX(-50%) translateY(-50%);}
  100% { transform: scale(1) translateX(-50%) translateY(-50%);}
}

//Options Animation
@keyframes obounceIn {
  0% {transform: scale(.6) translateX(-50%) translateY(-90%)}
  50% {transform: scale(1.1) translateX(-50%) translateY(-90%)}
  75% {transform: scale(0.9) translateX(-50%) translateY(-90%)}
  100% { transform: scale(1) translateX(-50%) translateY(-90%)}
}

//Quests Animations
@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: -512px 512px; }
}

//Warning Animation
@keyframes wbounceIn {
  0% {transform: scale(0)}
  50% {transform: scale(1.3)}
  75% {transform: scale(0.7)}
  100% { transform: scale(1)}
}