.hs-box {
	position: relative;
	opacity: 1;
	z-index: 10;
	overflow: hidden;
	perspective: 1000;
	.tabletop {
		position: absolute;
		z-index: 10;
		left: 50%;
		top: 50%;
		background: url(/images/table-top.jpg) no-repeat center center;
		background-size: cover;
		animation: tablein 3s linear forwards;
	}
	.thebox {
		height: 80vh;
		width: calc((911 / 675) * 80vh);
		position: absolute;
		top: 30px;
		left: 50%;
		animation: boxin 3s linear forwards;
		z-index: 20;
		//transform: translateZ(20px) translateX(-60%) translateY(-30px) skew(5deg, -5deg) rotateZ(-5deg) rotateX(20deg);
	}
	.lid {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 10;
		&.lid-left{
			left: 0;
			background-image: url(/images/box-left.png);
		}
		&.lid-right {
			right: 0;
			background-image: url(/images/box-right.png);
		}
	}
	.hub {
		background: #210f03;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		overflow: hidden;
		width: calc(80vh * .51);
		height: calc(80vh * .51);
		z-index: 15;
		perspective: 1000;
		text-align: center;
		> div {
			position: absolute;
			backface-visibility: hidden;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: 0.5s linear;
			transform-style: preserve-3d;
		}
		.front {
			background: url(/images/hub-base.png) no-repeat center center;
			background-size: 100% 100%;
			transform: rotateY(180deg);
			position: relative;
			perspective: 100;
			.btn-hub {
				display: block;
				margin-left: -1px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				h3 {
					position: absolute;
					width: 100%;
					margin: 0;
					color: #4d3a1d;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					font-size: 2.5vh;
					pointer-events: none;
				}
				img {
					height: 100%;
					width: auto;
					pointer-events: none;
				}
				&.hub1 {
					height: calc((80vh * .51) * .123);
					top: calc(80vh * .086);
					margin-left: -4px;
				}
				&.hub2 {
					height: calc((80vh * .51) * .128);
					top: calc(80vh * .173);
				}
				&.hub3 {
					height: calc((80vh * .51) * .131);
					top: calc(80vh * .267);
				}
				&.hub4 {
					height: calc((80vh * .51) * .128);
					top: calc(80vh * .356);
				}
				&.disabled {
					opacity: 0.3;
					transform: translateX(-50%) scale(0.98);
					h3 {
						color: #666;
					}
				}
				&.over {
					animation: bobble .3s linear backwards;
				}
			}
		}
		.back {
			transform: rotateY(0deg);
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				backface-visibility: hidden;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&:before {
				width: 84%;
				height: 84%;
				background-image: url(/images/hub-stone.png);
				z-index: 10;
			}
			&:after {
				width: 100%;
				height: 100%;
				z-index: 5;
				background-image: url(/images/ring.png);
				animation: spinnin 15s linear infinite;
			}
		}
		&.active {
			.front {
				transform: rotateY(0deg);
			}
			.back {
				transform: rotateY(180deg);
			}
		}
	}
	.tray {
		position: absolute;
		z-index: 5;
		bottom: calc(80vh * .194);
		//bottom: 0;
		left: 50%;
		width: calc((80vh * .194) * 4.1);
		height: calc(80vh * .194);
		background: url(/images/box-tray.png) no-repeat top center;
		background-size: 100% 100%;
		transform: translateX(-50%);
		margin-bottom: calc((131 / 538) * 50% * -1);
		&.dropped {
			animation: trayBounce .5s forwards;
		}
	}
	&.hidden {
		opacity: 0;
	}

	.buttons {
		width: calc((80vh * .204) * 2 + 10px);
		height: calc(80vh * .204);
		position: absolute;
		bottom: calc(80vh * .195 * -1);
		transform: translateX(-33%);
		.shop-button, .quest-button {
			height: 100%;
			width: calc(50% - 5px);
			display: inline-block;
			vertical-align: top;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
		}
		.shop-button {
			margin-right: 5px;
			background-image: url(/images/store-closed-button.png);
		}
		.quest-button {
			margin-left: 5px;
			background-image: url(/images/quest-button.png);
			transform: rotate(-10deg);
		}
	}
} 

@keyframes bobble {
	0% {transform: translateX(-50%) rotateX(-12deg) translateZ(2px) scale(0.98);}
	40% {transform: translateX(-50%) rotateX(6deg) translateZ(2px) scale(0.98);}
	80% {transform: translateX(-50%) rotateX(0deg) translateZ(0)  scale(1);}
}

@keyframes trayBounce {
  0% {bottom: calc(80vh * .194); -webkit-animation-timing-function: ease-in;}
  33% {bottom: 40px; -webkit-animation-timing-function: ease-out;}
  50% {bottom: 30px; -webkit-animation-timing-function: ease-in;}
  66% {bottom: 40px; -webkit-animation-timing-function: ease-out;}
  82% {bottom: 10px; -webkit-animation-timing-function: ease-in;}
  92% {bottom: 20px; -webkit-animation-timing-function: ease-out;}
  97% {bottom: 15px; -webkit-animation-timing-function: ease-in;}
  100% { bottom: 0;}
}

@keyframes spinnin {
	0% { transform: translateY(-50%) translateX(-50%) rotate(0deg) }
	100% { transform: translateY(-50%) translateX(-50%) rotate(360deg) }
}

@keyframes tablein {
	0% {width: 110vw; height: 110vh; transform: scale(1) translateZ(130px) translateX(-50%) translateY(-50%) rotateZ(-5deg)}
	100% {width: 100vw; height: 100vh; transform: scale(1.2) translateZ(0) translateX(-50%) translateY(-50%) rotateZ(0)}
}

@keyframes boxin {
	0% {transform: translateZ(20px) translateX(-74%) translateY(-180px) skew(10deg, -10deg) rotateZ(-10deg) rotateX(15deg)}
	100% {transform: translateZ(0) translateX(-50%) translateY(0px) skew(0deg, 0deg) rotateZ(0deg) rotateX(0deg)}
}