@import "./mixins.scss";
.hs-box {
	position: relative;
	opacity: 1;
	z-index: 10;
	overflow: hidden;
	perspective: 1000;
	background: none!important;
	.thebox {
		height: 75vh;
		width: calc((911 / 675) * 75vh);
		position: absolute;
		top: 3vh;
		left: 50%;
		animation: boxin 3s ease-in forwards;
		z-index: 20;
	}
	.right-contain {
		transition: all .5s linear;
		transform-origin: 100% 50%;
		height: 100%;
	}
	.lid {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 10;
		perspective: 1000;
		&.lid-left{
			left: 0;
			transform-origin: 0 50%;
			background-image: url(/images/box-left.png);
		}
		&.lid-right {
			right: 0;
			background-image: url(/images/box-right.png);
		}
	}
	.hub {
		background: #210f03;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		width: calc(75vh * .51);
		height: calc(75vh * .51);
		z-index: 15;
		perspective: 1000;
		text-align: center;
		> div {
			position: absolute;
			backface-visibility: hidden;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: 0.5s linear;
			transform-style: preserve-3d;
		}
		.front {
			background: url(/images/hub-base.png) no-repeat center center;
			background-size: 100% 100%;
			transform: rotateY(180deg);
			position: relative;
			perspective: 100;
			.btn-hub {
				display: block;
				margin-left: -1px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				perspective: 100;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: "";
					z-index: 2;
					background-size: 100% 100%;
					opacity: 0;
					transition: opacity .2s;
				}
				h3 {
					position: absolute;
					width: 100%;
					margin: 0;
					color: #4d3a1d;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					font-size: 2.5vh;
					pointer-events: none;
					z-index: 3;
				}
				img {
					height: 100%;
					width: auto;
					pointer-events: none;
					position: relative;
					z-index: 1;
				}
				&.disabled {
					opacity: 0.3;
					transform: translateX(-50%) scale(0.98);
					&:before {
						display: none;
					}
					h3 {
						color: #666;
					}
				}
				&.over {
					&:before {
						opacity: 0.8;
					}
					img {
						animation: bobble .3s linear backwards;
					}	
				}
			}
			.hub1 {
				height: calc((75vh * .51) * .122);
				top: calc(75vh * .086);
				margin-left: -4px;
				&:before {
					background-image: url(/images/btn-hub1-hover.png);
				}
			}
			.hub2 {
				height: calc((75vh * .51) * .128);
				top: calc(75vh * .173);
				&:before {
					background-image: url(/images/btn-hub2-hover.png);
				}
			}
			.hub3 {
				height: calc((75vh * .51) * .131);
				top: calc(75vh * .267);
				&:before {
					background-image: url(/images/btn-hub3-hover.png);
				}
				h3 {
					margin-top: -2px;
				}
			}
			.hub4 {
				height: calc((75vh * .51) * .128);
				top: calc(75vh * .356);
			}
			.tooltip {
				height: auto;
				margin: -2vh 0 0;
			}
		}
		.back {
			transform: rotateY(0deg);
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				backface-visibility: hidden;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&:before {
				width: 84%;
				height: 84%;
				background-image: url(/images/hub-stone.png);
				z-index: 10;
			}
			&:after {
				width: 100%;
				height: 100%;
				z-index: 5;
				background-image: url(/images/ring.png);
				animation: spinnin 15s linear infinite;
			}
		}
		&.active {
			.front {
				transform: rotateY(0deg);
			}
			.back {
				transform: rotateY(180deg);
			}
		}
	}
	.tray {
		position: absolute;
		z-index: 5;
		bottom: calc(75vh * .194);
		//bottom: 0;
		display: none;
		left: 50%;
		width: calc((75vh * .194) * 4.1);
		height: calc(75vh * .194);
		background: url(/images/box-tray.png) no-repeat top center;
		background-size: 100% 100%;
		transform: translateX(-50%);
		margin-bottom: calc((131 / 538) * 50% * -1);

		&.dropped {
			display: block;
			animation: trayBounce .5s forwards;
		}
		> div {
			display: inline-block;
			vertical-align: top;
			height: 83%;
			border-radius: 0 0 15px 15px;
			position: relative;
			&:after {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				content: "";
				opacity: 0;
				background: -moz-linear-gradient(left, rgba(255,245,196,0.1) 0%, rgba(255,245,196,1) 25%, rgba(255,245,196,1) 50%, rgba(255,245,196,1) 75%, rgba(255,245,196,0.1) 100%);
				background: -webkit-linear-gradient(left, rgba(255,245,196,0.1) 0%,rgba(255,245,196,1) 25%,rgba(255,245,196,1) 50%,rgba(255,245,196,1) 75%,rgba(255,245,196,0.1) 100%);
				background: linear-gradient(to right, rgba(255,245,196,0.1) 0%,rgba(255,245,196,1) 25%,rgba(255,245,196,1) 50%,rgba(255,245,196,1) 75%,rgba(255,245,196,0.1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afff5c4', endColorstr='#1afff5c4',GradientType=1 );
				width: 100%;
				height: 98%;
			}
			h4 {
				position: relative;
				z-index: 2;
				text-align: center;
				color: white;
				@include stroked;
				font-size: 2.8vh;
				line-height: 1;
				margin: 3.5vh 0;
			}
			&:hover {
				&:after {
					opacity: 0.3;
				}
			}
		}
		.tray-packs {
			margin-left: 11%;
			width: 26%;
			h4 {
				margin-top: 2.3vh;
			}
			.pack-count {
				color: white;
				@include stroked;
				position: absolute;
				width: 33%;
				height: calc(33% * 1.2);
				text-align: center;
				font-size: 3vh;
				line-height: 4.7vh;
				bottom: -10px;
				left: 50%;
				transform: translateX(-50%);
				background: url(/images/card-count.png);
				background-size: 100% 100%;
				z-index: 3;
			}
		}
		.tray-collection {
			width: 50%;
			margin-left: 1%;
		}
	}
	&.hidden {
		opacity: 0;
		z-index: -1;
	}

	.buttons {
		width: calc((75vh * .204) * 2 + 10px);
		height: calc(75vh * .204);
		position: absolute;
		bottom: calc(75vh * .195 * -1);
		transform: translateX(-33%);
		.shop-button, .quest-button {
			height: 100%;
			width: calc(50% - 5px);
			display: inline-block;
			vertical-align: top;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
		}
		.shop-button {
			margin-right: 5px;
			background-image: url(/images/store-closed-button.png);
		}
		.quest-button {
			margin-left: 5px;
			transform: rotate(-10deg);
			position: relative;
			> img {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 1;
			}
			&:after {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
				background-image: url(/images/quest-button-hover.png);
				background-size: 100%;
				z-index: 0;
				width: calc(100% + 23px);
				height: calc(100% + 18px);
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&.open-in, &.collection-in {
		transition: all .2s linear;
		transform: scale(3);
		background: none;
		.right-contain {
			transform: rotateY(-120deg);
		}
		.lid {
			transition: all .5s linear;
			&.lid-left {
				transform: rotateY(-120deg);
			}
		}
	}
} 

@keyframes delayHide {
	0%, 80% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes bobble {
	0% {transform: rotateX(-10deg) translateZ(2px) scale(0.98);}
	40% {transform: rotateX(5deg) translateZ(2px) scale(0.98);}
	80% {transform: rotateX(0deg) translateZ(0)  scale(1);}
}

@keyframes trayBounce {
  0% {bottom: calc(75vh * .194); -webkit-animation-timing-function: ease-in;}
  66% {bottom: 0; -webkit-animation-timing-function: ease-out;}
  82% {bottom: 15px; -webkit-animation-timing-function: ease-in;}
  92% {bottom: 0; -webkit-animation-timing-function: ease-out;}
  97% {bottom: 5px; -webkit-animation-timing-function: ease-in;}
  100% { bottom: 0;}
}

@keyframes spinnin {
	0% { transform: translateY(-50%) translateX(-50%) rotate(0deg) }
	100% { transform: translateY(-50%) translateX(-50%) rotate(360deg) }
}

@keyframes boxin {
	0% {transform: translateZ(20px) translateX(-74%) translateY(-180px) skew(10deg, -10deg) rotateZ(-10deg) rotateX(15deg)}
	100% {transform: translateZ(0) translateX(-50%) translateY(0px) skew(0deg, 0deg) rotateZ(0deg) rotateX(0deg)}
}