.button {
	perspective: 100;
	z-index: 30;
	position: relative;
	.button-bracket {
		background: url(/images/global/btn_bracket.jpg) repeat-x top center;
		background-size: auto 100%;
		height: 7vh;
		width: calc(100% - (7vh * .94 * 2));
		margin: 1.5vh calc(7vh * .94);
		position: relative;
		z-index: 1;
		&:before, &:after {
			content: "";
			display: block;
			height: 7vh;
			width: calc(7vh * .94);
			background-repeat: no-repeat;
			background-size: auto 100%;
			position: absolute;
			top: 0;
		}
		&:before {
			background-image: url(/images/global/btn_bracket_left.png);
			left: calc(7vh * .94 * -1 + 1px);
		}
		&:after {
			background-image: url(/images/global/btn_bracket_right.png);
			right: calc(7vh * .94 * -1 + 1px);
		}
	}
	.button-inner {
		text-align: center;
		background: url(/images/global/button.jpg) repeat-x top center;
		background-size: auto 100%;
		height: 5.5vh;
		line-height: 5.3vh;
		position: relative;
		top: 0.7vh;
		margin: 0 calc(5.5vh * .389);
		width: calc(118% - (5.5vh * .389 * 2));
		left: -9%;
		color: #503c1f;
		font-size: 2.5vh;
		z-index: 2;
		&:before, &:after {
			content: "";
			display: block;
			height: 5.5vh;
			width: calc(5.5vh * .389);
			background-repeat: no-repeat;
			background-size: auto 100%;
			position: absolute;
			top: 0;
		}
		&:before {
			background-image: url(/images/global/button_left.png);
			left: calc(5.5vh * .389 * -1 + 1px);
		}
		&:after {
			background-image: url(/images/global/button_right.png);
			right: calc(5.5vh * .389 * -1 + 1px);
		}
	}
	&:hover {
		.button-inner {
			animation: buttonbobble .3s linear backwards;
		}
	}
}

@keyframes buttonbobble {
	0% {transform: rotateX(-10deg) translateZ(2px) scale(0.98);}
	40% {transform: rotateX(5deg) translateZ(2px) scale(0.98);}
	80% {transform: rotateX(0deg) translateZ(0)  scale(1);}
}