@import "./mixins.scss";
.card {
	width: calc(50vh * .73);
	height: 50vh;
	position: absolute;
	.cardback, .cardfront {
		backface-visibility: hidden;
		transition: .8s linear;
	}
	.cardback {
		width: 100%;
		height: 100%;
		background: url('/images/opening/card-back.png') no-repeat center center;
		background-size: auto 100%;
		position: absolute;
		transform: rotateY(-180deg);
	}
	.cardfront {
		width: 100%;
		height: 100%;
		transform: rotateY(0deg);
		.face {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: auto 100%;
			position: absolute;
			z-index: 5;
		}
	}
	&.facedown {
		.cardfront {
			transform: rotateY(180deg);
		}
		.cardback {
			transform: rotateY(0deg);
		}
	}
	.mana {
		height: 9vh;
		width: 9vh;
		position: absolute; 
		top: -4%;
		left: -2%;
		background: url('/images/cards/mana-gem.png') no-repeat center center;
		background-size: auto 100%;
		z-index:6;
		color: white;
		@include stroked;
		display: block;
		text-align: center;
		line-height: 7.5vh;
		font-size: 7.5vh;
	}
	.title {
		position: absolute;
		z-index: 15;
		left: 50%;
		transform: translateX(-50%);
		svg {
			position: absolute;
			top: 0;
			left: 0;
			overflow: visible;
			text {
				fill: white;
				@include stroked;
				font-size: 4.5vh;
				@media (max-height: 1100px){
					font-size: 5.4vh;
				}
				@media (max-height: 960px){
					font-size: 6vh;
				}
				@media (max-height: 840px){
					font-size: 7vh;
				}
				@media (max-height: 730px){
					font-size: 8vh;
				}
				@media (max-height: 625px){
					font-size: 9vh;
				}
				@media (max-height: 550px){
					font-size: 10vh;
				}
			}
		}
	}
	.rarity {
		height: 5vh;
		width: calc(5vh * .98);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: auto 100%;
		z-index: 6;
	}
	.cardart {
		display: block;
		margin: 0 auto;
		position: absolute;
		z-index: 4;
		left: 50%;
    transform: translateX(-50%);
    top: 5%;
    height: 23vh;
    overflow: hidden;
    img {
    	width: 100%;
    	height: auto;
    }
	}
	.description {
		position: absolute;
    bottom: 2vh;
    height: 11vh;
    width: calc(12vh * 2.2);
    left: 3vh;
    padding: 2vh;
    font-size: 1.8vh;
    line-height: 2.5vh;
    font-family: "Open Sans";
    text-align: center;
    z-index: 6;
	}
	.hover-glow {
		opacity: 0;
		width: 90%;
    height: 98%;
    position: absolute;
    top: 1%;
    left: 5.5%;
    border-radius: 10px;
    transition: all 1s;
	}
	.flip-rays {
		position: absolute;
		top: 0;
		left: 0;
	}
	&.rare {
		.hover-glow {
			box-shadow: 0 0 50px 30px rgba(7,88,213,0.3);
		}
		.flip-rays {
			mask-image: url('/images/opening/rare-rays.png');
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-size: auto 100%;
			background: blue;
			height: 78vh;
	    width: calc(78vh * .99);
	    top: -29%;
	    left: -68%;
	    display: none;
		}
	}
	&.epic {
		.hover-glow{
			box-shadow: 0 0 50px 30px rgba(158,31,227,0.2);
		}
		.flip-rays {
			mask-image: url('/images/opening/epic-rays.png');
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-size: auto 100%;
			background: purple;
			height: 89vh;
	    width: calc(89vh * .938);
	    top: -39%;
	    left: -70%;
	    display: none;
		}
	}
	&.legendary {
		.hover-glow {
			box-shadow: 0 0 50px 30px rgba(221,147,34,0.4);
		}
		.flip-rays {
			mask-image: url('/images/opening/legendary-rays.png');
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-size: auto 100%;
			background: orange;
			height: 122vh;
	    width: calc(122vh * .89);
	    top: -64%;
	    left: -109%;
	    display: none;
		}
	}
	&.minion {
		.cardfront {
			.face {
				height: 107%;
				top: -7%;
				background-image: url('/images/cards/minion-generic.png');
			}
		}
		.cardart {
			width: 24vh;
    	height: 33vh;
    	top: -8%;
    	mask-image: url(/images/cards/minion-mask.png);
			mask-repeat: no-repeat;
			mask-size: auto 100%;
			mask-position: center center;
		}
		.title {
			background: url('/images/cards/minion-title.png') no-repeat center center;
			background-size: auto 100%;
			height: 7.8vh;
	    width: calc(7.8vh * 4.25);
	    top: 45%;
		}
		.rarity {
			top: 54%;
		}
		.mana {
			top: -4%;
			left: -2%;
		}
		.description {
			bottom: 3.5vh;
		}
		.attack {
			height: 10vh;
	    width: 10.5vh;
	    position: absolute;
	    bottom: -3%;
	    left: -6%;
	    background: url(/images/cards/minion-attack.png) no-repeat left center;
	    background-size: auto 100%;
	    color: white;
			@include stroked;
			display: block;
			text-align: center;
			line-height: 10vh;
	    font-size: 6.5vh;
	    z-index: 6;
		}
		.health {
			height: 9vh;
    	width: 7vh;
	    position: absolute;
	    bottom: -1%;
	    right: -5%;
	    background: url(/images/cards/minion-health.png) no-repeat center center;
	    background-size: auto 100%;
	    color: white;
			@include stroked;
			display: block;
			text-align: center;
			line-height: 10vh;
			font-size: 6.5vh;
			z-index:6;
		}
		.legendary-dragon {
			height: 21vh;
	    width: 100%;
	    position: absolute;
	    top: -13%;
	    right: -13%;
	    background: url(/images/cards/legendary-dragon.png) no-repeat center center;
	    background-size: auto 100%;
	    z-index: 7;
		}
		.tag {
			position: absolute;
			color: white;
			@include stroked;
			text-align: center;
	    bottom: 1.8vh;
	    width: 100%;
	    font-size: 2.5vh;
	    z-index: 6;
		}
		@each $class in $class-list {
	    &.#{$class} {
	    	.cardfront {
	    		.face {
	    			background-image: url('/images/cards/minion-#{$class}.png');
	    		}
	    	}
	    }
	  }
	  @each $rarity in $rarity-list {
	  	&.#{$rarity} {
	  		.rarity {
	  			background-image: url('/images/cards/minion-rarity-#{$rarity}.png');
	  		}
	  	}
	  }
	  &.golden {
			.cardfront {
				backface-visibility: hidden;
				.face {
					background-image: url('/images/cards/minion-golden.png');
				}
			}
			.rarity {
				height: 5vh;
				background-image: url('/images/cards/golden-minion-rarity-legendary.png');
			}
			.legendary-dragon {
				background-image: url('/images/cards/golden-legendary-dragon.png');
			}
			.title {
				background-image: url('/images/cards/golden-minion-title.png');
			}
			.description {
				color: white;
			}
			.tag {
				display: none;
			}
			.cardfront .cardart {
				width: 22vh;
    		height: 35vh;
		    top: -10%;
		    left: 52.5%;
		    img {
		    	height: 100%;
		    	width: 3000%;
		    	&.animate {
		    		animation: goldenanimation 2.5s steps(30) infinite;
		    	}
		    }
			}
		}
	}
	&.spell {
		.cardfront {
			.face {
				background-image: url('/images/cards/spell-generic.png');
			}
			.cardart {
				img {
					height: 100%;
					width: auto;
				}
			}
		}
		.title {
			background: url('/images/cards/spell-title.png') no-repeat center center;
			background-size: auto 100%;
			height: 10.7vh;
			width: calc(10.7vh * 3.21);
			left: 49.5%;
			top: 44%;
		}
		.rarity {
			top: 54%;
		}
		@each $class in $class-list {
	    &.#{$class} {
	    	.cardfront {
	    		.face {
	    			background-image: url('/images/cards/spell-#{$class}.png');
	    		}
	    	}
	    }
	  }
	  @each $rarity in $rarity-list {
	  	&.#{$rarity} {
	  		.rarity {
	  			background-image: url('/images/cards/spell-rarity-#{$rarity}.png');
	  		}
	  	}
	  }
	}
}