@import "./mixins.scss";
.class-tabs {
	width: 98%;
	height: 6.9%;
	padding-left: 2%;
	.class-tab {
		position: relative;
		display: inline-block;
		transform: scale(0.9) translateY(5%);
		margin-right: -0.25%;
		z-index: 1;
		vertical-align: bottom;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;
		height: 7vh;
		width: calc(7vh * 0.96);
		transition: all .2s;
		@each $class in $class-list {
	    &.tab-#{$class} {
	    	background-image: url('/images/collection/tab-#{$class}.png');
	    }
	  }
	  &.tab-neutral {
	  	background-image: url('/images/collection/tab-neutral.png');
	  }
		&.active {
			transform: scale(1) translateY(0);
			z-index: 2;
		}
	}
}