@font-face {
    font-family: 'Belweb';
    src: url('/fonts/BelweBT-Bold.eot');
    src: url('/fonts/BelweBT-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BelweBT-Bold.woff2') format('woff2'),
        url('/fonts/BelweBT-Bold.woff') format('woff'),
        url('/fonts/BelweBT-Bold.ttf') format('truetype'),
        url('/fonts/BelweBT-Bold.svg#BelweBT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}