body, html,
#hearthstoned, 
.hs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #391b10;
	overflow: hidden;
}

*{
	font-family: "Belweb";
}

#hearthstoned {
	cursor: url(/images/hand.png) 3 10, auto;
	perspective: 1000;
	&.downed {
		cursor: url(/images/downhand.png) 4 8, auto!important;
		&.grab {
			cursor: url(/images/grabhand.png) 4 8, auto!important;
		}
	}
	.tabletop {
		position: absolute;
		z-index: 0;
		left: 50%;
		top: 50%;
		background: url(/images/table-top.jpg) no-repeat center center;
		background-size: cover;
		animation: tablein 3s ease-out forwards;
	}
}

.blurred {
	filter: blur(5px);
}

::selection {
    background: transparent;
}

.options-bar {
	position: absolute;
	bottom: 0;
	z-index: 10;
	width: 100%;
	height: 5vh;
	#clock {
		color: #919191;
		font-size: 2.5vh;
		text-transform: uppercase;
		padding-left: 30px;
		line-height: 2;
	}
	#options-button {
		position: absolute;
		right: 10px;
		top: 0;
		height: 90%;
		img {
			position: relative;
			display: block;
			height: 98%;
			width: auto;
			z-index: 1;
			left: 0;
			top: 2px;
		}
		&:before {
			display: block;
			position: absolute;
			content: "";
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			border-radius: 40%;
			opacity: 0;
			background: -moz-linear-gradient(left, rgba(255,245,196,0.1) 0%, rgba(255,245,196,1) 25%, rgba(255,245,196,1) 50%, rgba(255,245,196,1) 75%, rgba(255,245,196,0.1) 100%);
			background: -webkit-linear-gradient(left, rgba(255,245,196,0.1) 0%,rgba(255,245,196,1) 25%,rgba(255,245,196,1) 50%,rgba(255,245,196,1) 75%,rgba(255,245,196,0.1) 100%);
			background: linear-gradient(to right, rgba(255,245,196,0.1) 0%,rgba(255,245,196,1) 25%,rgba(255,245,196,1) 50%,rgba(255,245,196,1) 75%,rgba(255,245,196,0.1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afff5c4', endColorstr='#1afff5c4',GradientType=1 );
		}
		&:hover {
			&:before {
				opacity: 0.2;
			}
		}
	}
	&.dark {
		background: #181208;
		box-shadow: inset 0px 5px 10px #291c08;
	}
}

@keyframes tablein {
	0% {width: 110vw; height: 110vh; transform: scale(1) translateZ(130px) translateX(-50%) translateY(-50%) rotateZ(-5deg)}
	100% {width: 100vw; height: 100vh; transform: scale(1.2) translateZ(0) translateX(-50%) translateY(-50%) rotateZ(0)}
}