body, html,
#hearthstoned, 
.hs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #391b10;
}

h1, h2, h3, h4, h5, p {
	font-family: "Belweb";
}

#hearthstoned {
	cursor: url(/images/hand.png) 3 10, auto;
	&.downed {
		cursor: url(/images/downhand.png) 4 8, auto!important;
	}
}

.blurred {
	filter: blur(5px);
}