.hs-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	.modal-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.3);
		z-index: 10;
	}
	.modal-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: scale(0) translateX(-50%) translateY(-50%);
		transition: all .3s;
		z-index: 20;
		opacity: 0;
		transform-origin: 0 -50%;
	}
	&.open {
		z-index: 100;
		.modal-content {
			opacity: 1;
		}
		&.topDown {
			.modal-content {
				transform: scale(1) translateX(-50%) translateY(-50%);
			}
		}
		&.bounceIn {
			.modal-content {
				transform-origin: 0 0;
				animation: bounceIn .3s forwards;
			}
		}
	}
}

@keyframes bounceIn {
  0% {transform: scale(0) translateX(-50%) translateY(-50%);}
  50% {transform: scale(1.1) translateX(-50%) translateY(-50%);}
  75% {transform: scale(0.8) translateX(-50%) translateY(-50%);}
  100% { transform: scale(1) translateX(-50%) translateY(-50%);}
}