@import "./mixins.scss";
.hs-packs {
	z-index: 3;
	background: none!important;
	#sticky-pack {
		width: calc(30vh * .73);
		height: 30vh;
		background: url('/images/opening/pack.png') no-repeat center center;
		background-size: auto 100%;
		position: absolute;
		z-index: -1;
		opacity: 0;
		&.stuck {
			opacity: 1;
			z-index: 3;
		}
	}
	.opening-container {
		width: 100%;
		height: 100%;
		position: relative;
		background: url('/images/global/wood-fill.jpg') repeat top center;
		h1 {
			margin: 0;
			color: white;
		}
		.opening-content {
			height: 95vh;
			width: calc((95vh * .33) + (95vh * 1.05));
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			&:before, &:after {
				display: block;
				content: "";
				height: 95vh;
				width: calc(95vh * .19);
				position: absolute;
				background: url('/images/global/bg-hinge.jpg') no-repeat center center;
				background-size: auto 100%;
				top: 0;
			}
			&:before {
				left: calc(95vh * .19 * -1);
			}
			&:after {
				right: calc(95vh * .19 * -1);;
				transform: rotate(180deg);
			}
			#opening-overlay {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
		    left: -50vw;
		    padding: 0 50vw;
				background: rgba(0,0,0,0.7);
				z-index: 3;
				display: none;
				&.show {
					display: block;
				}
			}
			.pack-tray {
				position: absolute;
				left: 0;
				height: 95vh;
				width: calc(95vh * .33);
				background: url('/images/opening/pack-tray.png') no-repeat center center;
				background-size: auto 100%;
				z-index: 2;
				.packs-available {
					width: calc(30vh * .73);
    			height: 30vh;
					background: url('/images/opening/pack.png') no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-60%) translateY(-50%);
					&:before, &:after {
						content: "";
						width: 100%;
						height: 100%;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: auto 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
					&:before {
						background-image: url('/images/opening/pack.png');
						z-index: 1;
						transform: translateX(3%);
					}
					&:after {
						background-image: url('/images/opening/pack-silhouette.png');
						z-index: 0;
						height: 120%;
				    width: 120%;
				    top: -12%;
				    left: -17%;
					}
					.pack-counter {
						position: absolute;
						z-index: 3;
						top: 1.1vh;
						right: 10%;
						height: 9vh;
						width: 9vh;
						background: url('/images/opening/pack-amount.png') no-repeat center center;
						background-size: auto 100%;
						p {
							text-align: center;
							color: white;
							@include stroked;
							font-size: 3.5vh;
							line-height: 6vh;
							margin: 0;
							padding: 0 0 0 .6vh;
						}
					}
				}
			}
			.altar {
				position:absolute;
				right: 0;
				height: 95vh;
				width: calc(95vh * 1.07);
				z-index: 0;
				overflow: hidden;
				background-image: url('/images/opening/pack-disc.jpg');
				background-size: 100% 100%;
				&:before, &:after {
					width: 100%;
					height: 100%;
					content: "";
					position: absolute;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: auto 100%;
				}
				&:before {
					background-image: url('/images/opening/pack-disc.jpg');
					z-index: 1;
					animation: spinnin 20s linear infinite;
					top: 50%;
					left: 50%;
				}
				&:after {
					top: 0;
					left: 0;
					background-image: url('/images/opening/altar.png');
					z-index: 2;
				}
				h2 {
					position: absolute;
			    z-index: 3;
			    display: block;
			    text-align: center;
			    width: 97%;
			    margin: 2.6vh 0 0;
			    font-size: 2.8vh;
			    color: white;
			    @include stroked;
				}
				.back-button {
					position: absolute;
			    bottom: 1.3%;
			    right: 0.8%;
			    height: 5.7vh;
			    width: calc(5.7vh * 2.7);
					.button {
						.button-bracket {
							margin: 0 calc(5.7vh * .94);
							height: 5.7vh;
							width: calc(100% - (5.7vh * .94 * 2));
							&:before, &:after {
								height: 5.7vh;
   							width: calc(5.7vh * .94);
							}
							&:before {
								left: calc(5.7vh * .94 * -1 + 1px)
							}
							&:after {
								right: calc(5.7vh * .94 * -1 + 1px)
							}
							.button-inner {
								height: 4.4vh;
    						line-height: 4.4vh;
    						width: calc(192% - (4.4vh * .389 * 2));
    						left: -54%;
    						font-size: 2vh;
    						&:before, &:after {
    							height: 4.4vh;
    							width: calc(4.4vh * .389);
    						}
    						&:before {
    							left: calc(4.4vh * .389 * -1 + 1px);
    						}
    						&:after {
    							right: calc(4.4vh * .389 * -1 + 1px);
    						}
							}
						}
					}
				}
				.altar-glow {
					width: 100%;
					height: 100%;
					background: url('/images/opening/disc-glow.png') no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					z-index: 5;
					animation: pulse 7s infinite;
					display: none;
					&.show {
						display: block;
					}
				}
				.shockwave {
					width: 115%;
					height: 115%;
					background: url('/images/opening/glow-ring.png') no-repeat 46% 45%;
					opacity: 0;
					display: none;
					background-size: auto 93%;
					position: absolute;
			    top: -5%;
			    left: -7.5%;
			    z-index: 3;
			    &.show {
			    	display: block;
			    }
			    &.burst {
			    	animation: shockwave 1.2s ease-in-out forwards;
			    }
				}
			}
			.drop-zone {
				height: 55vh;
				width: 55vh;
				position: absolute;
				top: 50%;
				left: 61.5%;
				transform: translateX(-50%) translateY(-50%);
				z-index: 10;
				.drop-pack {
					width: 100%;
					height: 100%;
					background: url('/images/opening/pack-sprite.png') no-repeat left top;
					background-size: auto 2500%;
					position: absolute;
					z-index: 3;
					left: 12.5%;
    			top: 14%;
					display: none;
					&.show {
						display: block;
					}
					&.burst {
						animation: packburst 0.8s steps(24) forwards;
					}
				}
				.bullseye {
					height: 30vh;
					width: calc(30vh * .73);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-55%) translateY(-50%);
					.drop-glow {
						display: none;
						width: 120%;
						height: 120%;
						position: absolute;
						top: -10%;
						left: -10%;
						background: url('/images/opening/pack-drop-glow.png') no-repeat center center;
						background-size: auto 100%;
						z-index: 2;
						.swirl-glow {
							background: url('/images/opening/pack-drop-swirl-glow.png') no-repeat center center;
							background-size: auto 100%;
							width: 100%;
							height: 22vh;
							position: absolute;
							top: 50%;
							left: 50%;
							animation: pulse 5s infinite;
							transform: translateX(-52%) translateY(-54%);
						}
						&.show {
							display: block;
						}
					}
				}
			}
			.pack-cards {
				width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    position: absolute;
		    z-index: 9;
		    display: none;
		    .pack-done {
		    	background: url('/images/opening/floaty-button.png') no-repeat center center;
		    	background-size: auto 100%;
		    	height: 9vh;
		    	width: calc(9vh * 2.01);
		    	position: absolute;
		    	top: 46%;
		    	left: 53.5%;
		    	display: none;
		    	color: white;
		    	@include stroked;
		    	font-size: 3.5vh;
		    	line-height: 9vh;
		    	text-align: center;
		    	&.show {
		    		display: block;
		    	}
		    }
		    .card {
		    	top: 33%;
    			left: 46.5%;
			    perspective: 1000;
			    z-index: 10;
			    &:nth-of-type(1){
			    	z-index: 5;
			    	transform: translateX(10%) translateY(-10%) scale(0.75) rotateZ(-15deg) skewY(15deg) skewX(3deg);
			    }
			    &:nth-of-type(2){
			    	z-index: 4;
			    	transform: translateX(8%) translateY(-8%) scale(0.75) rotateZ(-15deg) skewY(15deg) skewX(3deg);
			    }
			    &:nth-of-type(3){
			    	z-index: 3;
			    	transform: translateX(6%) translateY(-6%) scale(0.75) rotateZ(-15deg) skewY(15deg) skewX(3deg);
			    }
			    &:nth-of-type(4){
			    	z-index: 2;
			    	transform: translateX(4%) translateY(-4%) scale(0.75) rotateZ(-15deg) skewY(15deg) skewX(3deg);
			    }
			    &:nth-of-type(5){
			    	z-index: 1;
			    	transform: translateX(2%) translateY(-2%) scale(0.75) rotateZ(-15deg) skewY(15deg) skewX(3deg);
			    }
			    &:not(.flipped){
						&:hover {
							.hover-glow {
								opacity: 1;
							}		
						}
					}
					&.flipped {
						.hover-glow {
							box-shadow: none;
							opacity: 0;
							transform: scale(0);
						}
					}
					&.flipping {
						.flip-rays {
							display: block;
						}
					}
		    }
		    &.show {
		    	display: block;
		    }
		    &.burst {
		    	.card {
		    		&:nth-of-type(1){
				    	animation: cardfly1 0.6s forwards;
				    }
				    &:nth-of-type(2){
				    	animation: cardfly2 0.6s forwards;
				    }
				    &:nth-of-type(3){
				    	animation: cardfly3 0.6s forwards;
				    }
				    &:nth-of-type(4){
				    	animation: cardfly4 0.6s forwards;
				    }
				    &:nth-of-type(5){
				    	animation: cardfly5 0.6s forwards;
				    }
		    	}
		    }
		    &.idle {
		    	z-index: 11;
		    	.card {
		    		transition: .3s all;
		    		-webkit-font-smoothing: subpixel-antialiased;
		    		z-index: 10;
		    		&:nth-of-type(1){
				    	top: 0;
							transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
							&.flipping, &.flipped, &:hover {
								transform: translateZ(0) translateX(0) translateY(-5%) scale(0.75) rotateZ(0deg) skewY(0deg) skewX(0deg);
							}
				    }
				    &:nth-of-type(2){
				    	top: 10%;
							left: 25%;
							transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
				    	&.flipping, &.flipped, &:hover {
								transform: translateZ(0) translateX(-5%) translateY(-5%) scale(0.75) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
							}
				    }
				    &:nth-of-type(3){
				    	top: 10%;
							left: 68%;
							transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
				    	&.flipping, &.flipped, &:hover {
								transform: translateZ(0) translateX(5%) translateY(-5%) scale(0.75) rotateZ(0deg) rotateY(0deg) skewY(0deg) skewX(0deg);
							}
				    }
				    &:nth-of-type(4){
				    	top: 52%;
							left: 34%;
							transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
				    	&.flipping, &.flipped, &:hover {
								transform: translateZ(0) translateX(0) translateY(0) scale(0.75) rotateZ(0deg) skewY(0deg) skewX(0deg);
							}
				    }
				    &:nth-of-type(5){
				    	top: 52%;
							left: 59%;
							transform: translateX(0) translateY(0) scale(0.69) rotateZ(0deg) skewY(0deg) skewX(0deg);
				    	&.flipping, &.flipped, &:hover {
								transform: translateZ(0) translateX(0) translateY(0) scale(0.75) rotateZ(0deg) skewY(0deg) skewX(0deg);
							}
				    }
				    &.flipping {
				    	z-index: 9!important;
				    }
		    	}
		    }
			}
			.debris {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 9;
				display: none;
				.coins {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -3%;
					left: 9%;
					z-index: 1;
					.coin {
						width: 30px;
						height: 30px;
						position: absolute;
						left: 50%;
						top: 50%;
						&:before {
							content: "";
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							background: url('/images/opening/coin-sprite.png') no-repeat left top;
							background-size: auto 2200%;
							animation: coinflip 1s steps(21) infinite;
						}
						&.coin1, &.coin9 {
							width: 20px;
							height: 20px;
						}
						&.coin2, &.coin7 {
							width: 23px;
							height: 23px;
						}
						&.coin3, &.coin10 {
							width: 25px;
							height: 25px;
						}
						&.coin5, &.coin8  {
							width: 35px;
							height: 35px;
						}
					}
				}
				.debris-piece {
					display: block;
					position: absolute;
					left: 61.5%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					width: 7vh;
					height: 7vh;
					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						width: 100%;
						height: 100%;
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
				.debris-paper {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					.paper1 {
						&:before {
							background-image: url('/images/opening/paper1.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
					.paper2 {
						&:before {
							background-image: url('/images/opening/paper2.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.paper3 {
						&:before {
							background-image: url('/images/opening/paper3.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.paper4 {
						&:before {
							background-image: url('/images/opening/paper4.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
				}
				.debris-gems {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 10%;
					left: 18%;
					transform-origin: 50% 50%;
					transform: rotate(230deg);
					.gem1 {
						&:before {
							background-image: url('/images/opening/gem1.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.gem2 {
						&:before {
							background-image: url('/images/opening/gem2.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.gem3 {
						&:before {
							background-image: url('/images/opening/gem3.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.gem4 {
						&:before {
							background-image: url('/images/opening/gem4.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				.debris-more-gems {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -14%;
					left: 3%;
					transform-origin: 50% 50%;
					transform: rotate(410deg);
					.gem1 {
						&:before {
							background-image: url('/images/opening/gem1.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.gem2 {
						&:before {
							background-image: url('/images/opening/gem2.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.gem3 {
						&:before {
							background-image: url('/images/opening/gem3.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.gem4 {
						&:before {
							background-image: url('/images/opening/gem4.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				.debris-debris {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -15%;
					left: 18%;
					transform-origin: 50% 50%;
					transform: rotate(-240deg);
					.debris1 {
						&:before {
							background-image: url('/images/opening/debris1.png');
							animation: debrisspin 6s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.debris2 {
						&:before {
							background-image: url('/images/opening/debris2.png');
							animation: debrisspin 10s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.debris3 {
						&:before {
							background-image: url('/images/opening/debris3.png');
							animation: debrisspin 8s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.debris4 {
						&:before {
							background-image: url('/images/opening/debris4.png');
							animation: debrisspin 5.5s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				&.show {
					display: block;
				}
				&.burst {
					.coins {
						.coin1 {
							animation: coinfly1 3.8s linear forwards;
						}
						.coin2 {
							animation: coinfly2 3.8s linear forwards;
						}
						.coin3 {
							animation: coinfly3 3.8s linear forwards;
						}
						.coin4 {
							animation: coinfly4 3.8s linear forwards;
						}
						.coin5 {
							animation: coinfly5 3.8s linear forwards;
						}
						.coin6 {
							animation: coinfly6 3.8s linear forwards;
						}
						.coin7 {
							animation: coinfly7 3.8s linear forwards;
						}
						.coin8 {
							animation: coinfly8 3.8s linear forwards;
						}
						.coin9 {
							animation: coinfly9 3.8s linear forwards;
						}
						.coin10 {
							animation: coinfly10 3.8s linear forwards;
						}
					}
					.debris-debris {
						.debris1 {
							animation: flynw 3.8s linear forwards;
						}
						.debris2 {
							animation: flysw 3.8s linear forwards;
						}
						.debris3 {
							animation: flyne 3.8s linear forwards;
						}
						.debris4 {
							animation: flyse 3.8s linear forwards;
						}
					}
					.debris-paper {
						.paper1 {
							animation: flynw 3.8s linear forwards;
						}
						.paper2 {
							animation: flysw 3.8s linear forwards;
						}
						.paper3 {
							animation: flyne 3.8s linear forwards;
						}
						.paper4 {
							animation: flyse 3.8s linear forwards;
						}
					}
					.debris-gems {
						.gem1 {
							animation: flyse 3.8s linear forwards;
						}
						.gem2 {
							animation: flynw 3.8s linear forwards;
						}
						.gem3 {
							animation: flyne 3.8s linear forwards;
						}
						.gem4 {
							animation: flysw 3.8s linear forwards;
						}
					}
					.debris-more-gems {
						.gem1 {
							animation: flyne 3.8s linear forwards;
						}
						.gem2 {
							animation: flysw 3.8s linear forwards;
						}
						.gem3 {
							animation: flyse 3.8s linear forwards;
						}
						.gem4 {
							animation: flynw 3.8s linear forwards;
						}
					}
				}
			}
			.explosions {
				.explosion1, .explosion2 {
					width: 100%;
					height: 100%;
					background: url("/images/opening/blast-open.png") no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					left: 12%;
					top: 0;
					transform: scale(0.5);
					opacity: 0;
				}
				.explosion2 {
					background-image: url("/images/opening/blastgold.png");
				}
				&.burst {
					.explosion1, .explosion2 {
						animation: growfade 3.8s linear forwards;
					}
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
	}
	&.open-in {
		transform-origin: 50% 50%;
		animation: openin .5s linear forwards;
	}
}