@import "./mixins.scss";
.hs-packs {
	z-index: 3;
	background: none!important;
	#sticky-pack {
		width: calc(30vh * .73);
		height: 30vh;
		background: url('/images/opening/pack.png') no-repeat center center;
		background-size: auto 100%;
		position: absolute;
		z-index: -1;
		opacity: 0;
		&.stuck {
			opacity: 1;
			z-index: 3;
		}
	}
	.opening-container {
		width: 100%;
		height: 100%;
		position: relative;
		background: url('/images/global/wood-fill.jpg') repeat top center;
		h1 {
			margin: 0;
			color: white;
		}
		.opening-content {
			height: 95vh;
			width: calc((95vh * .33) + (95vh * 1.05));
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			&:before, &:after {
				display: block;
				content: "";
				height: 95vh;
				width: calc(95vh * .19);
				position: absolute;
				background: url('/images/global/bg-hinge.jpg') no-repeat center center;
				background-size: auto 100%;
				top: 0;
			}
			&:before {
				left: calc(95vh * .19 * -1);
			}
			&:after {
				right: calc(95vh * .19 * -1);;
				transform: rotate(180deg);
			}
			.pack-tray {
				position: absolute;
				left: 0;
				height: 95vh;
				width: calc(95vh * .33);
				background: url('/images/opening/pack-tray.png') no-repeat center center;
				background-size: auto 100%;
				z-index: 2;
				.packs-available {
					width: calc(30vh * .73);
    			height: 30vh;
					background: url('/images/opening/pack.png') no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-60%) translateY(-50%);
					&:before, &:after {
						content: "";
						width: 100%;
						height: 100%;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: auto 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
					&:before {
						background-image: url('/images/opening/pack.png');
						z-index: 1;
						transform: translateX(3%);
					}
					&:after {
						background-image: url('/images/opening/pack-silhouette.png');
						z-index: 0;
						height: 120%;
				    width: 120%;
				    top: -12%;
				    left: -17%;
					}
					.pack-counter {
						position: absolute;
						z-index: 3;
						top: 1.1vh;
						right: 10%;
						height: 9vh;
						width: 9vh;
						background: url('/images/opening/pack-amount.png') no-repeat center center;
						background-size: auto 100%;
						p {
							text-align: center;
							color: white;
							@include stroked;
							font-size: 3.5vh;
							line-height: 6vh;
							margin: 0;
							padding: 0 0 0 .6vh;
						}
					}
				}
			}
			.altar {
				position:absolute;
				right: 0;
				height: 95vh;
				width: calc(95vh * 1.07);
				z-index: 0;
				overflow: hidden;
				background-image: url('/images/opening/pack-disc.jpg');
				background-size: 100% 100%;
				&:before, &:after {
					width: 100%;
					height: 100%;
					content: "";
					position: absolute;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: auto 100%;
				}
				&:before {
					background-image: url('/images/opening/pack-disc.jpg');
					z-index: 1;
					animation: spinnin 20s linear infinite;
					top: 50%;
					left: 50%;
				}
				&:after {
					top: 0;
					left: 0;
					background-image: url('/images/opening/altar.png');
					z-index: 2;
				}
				.altar-glow {
					width: 100%;
					height: 100%;
					background: url('/images/opening/disc-glow.png') no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					z-index: 5;
					animation: pulse 7s infinite;
					display: none;
					&.show {
						display: block;
					}
				}
				.shockwave {
					width: 115%;
					height: 115%;
					background: url('/images/opening/glow-ring.png') no-repeat 46% 45%;
					opacity: 0;
					display: none;
					background-size: auto 93%;
					position: absolute;
			    top: -5%;
			    left: -7.5%;
			    z-index: 3;
			    &.show {
			    	display: block;
			    }
			    &.burst {
			    	animation: shockwave 1.2s ease-in-out forwards;
			    }
				}
			}
			.drop-zone {
				height: 55vh;
				width: 55vh;
				position: absolute;
				top: 50%;
				left: 61.5%;
				transform: translateX(-50%) translateY(-50%);
				z-index: 10;
				.drop-pack {
					width: 100%;
					height: 100%;
					background: url('/images/opening/pack-sprite.png') no-repeat left top;
					background-size: auto 2500%;
					position: absolute;
					z-index: 3;
					left: 12.5%;
    			top: 14%;
					display: none;
					&.show {
						display: block;
					}
					&.burst {
						animation: packburst 0.8s steps(24) forwards;
					}
				}
				.bullseye {
					height: 30vh;
					width: calc(30vh * .73);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-55%) translateY(-50%);
					.drop-glow {
						display: none;
						width: 120%;
						height: 120%;
						position: absolute;
						top: -10%;
						left: -10%;
						background: url('/images/opening/pack-drop-glow.png') no-repeat center center;
						background-size: auto 100%;
						z-index: 2;
						.swirl-glow {
							background: url('/images/opening/pack-drop-swirl-glow.png') no-repeat center center;
							background-size: auto 100%;
							width: 100%;
							height: 22vh;
							position: absolute;
							top: 50%;
							left: 50%;
							animation: pulse 5s infinite;
							transform: translateX(-52%) translateY(-54%);
						}
						&.show {
							display: block;
						}
					}
				}
			}
			.debris {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 5;
				display: none;
				.coins {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -3%;
					left: 9%;
					z-index: 1;
					.coin {
						width: 30px;
						height: 30px;
						position: absolute;
						left: 50%;
						top: 50%;
						&:before {
							content: "";
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							background: url('/images/opening/coin-sprite.png') no-repeat left top;
							background-size: auto 2200%;
							animation: coinflip 1s steps(21) infinite;
						}
						&.coin1, &.coin9 {
							width: 20px;
							height: 20px;
						}
						&.coin2, &.coin7 {
							width: 23px;
							height: 23px;
						}
						&.coin3, &.coin10 {
							width: 25px;
							height: 25px;
						}
						&.coin5, &.coin8  {
							width: 35px;
							height: 35px;
						}
					}
				}
				.explosion1, .explosion2 {
					width: 100%;
					height: 100%;
					background: url("/images/opening/blast-open.png") no-repeat center center;
					background-size: auto 100%;
					position: absolute;
					left: 12%;
					top: 0;
					transform: scale(0.5);
					opacity: 0;
				}
				.explosion2 {
					background-image: url("/images/opening/blastgold.png");
				}
				.debris-piece {
					display: block;
					position: absolute;
					left: 61.5%;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					width: 7vh;
					height: 7vh;
					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						width: 100%;
						height: 100%;
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
				.debris-paper {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					.paper1 {
						&:before {
							background-image: url('/images/opening/paper1.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
					.paper2 {
						&:before {
							background-image: url('/images/opening/paper2.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.paper3 {
						&:before {
							background-image: url('/images/opening/paper3.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.paper4 {
						&:before {
							background-image: url('/images/opening/paper4.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
				}
				.debris-gems {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 10%;
					left: 18%;
					transform-origin: 50% 50%;
					transform: rotate(230deg);
					.gem1 {
						&:before {
							background-image: url('/images/opening/gem1.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.gem2 {
						&:before {
							background-image: url('/images/opening/gem2.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.gem3 {
						&:before {
							background-image: url('/images/opening/gem3.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.gem4 {
						&:before {
							background-image: url('/images/opening/gem4.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				.debris-more-gems {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -14%;
					left: 3%;
					transform-origin: 50% 50%;
					transform: rotate(410deg);
					.gem1 {
						&:before {
							background-image: url('/images/opening/gem1.png');
							animation: debrisspin 1.2s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.gem2 {
						&:before {
							background-image: url('/images/opening/gem2.png');
							animation: debrisspin 1.5s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.gem3 {
						&:before {
							background-image: url('/images/opening/gem3.png');
							animation: debrisspin 2s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.gem4 {
						&:before {
							background-image: url('/images/opening/gem4.png');
							animation: debrisspin 1.9s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				.debris-debris {
					width: 100%;
					height: 100%;
					position: absolute;
					top: -15%;
					left: 18%;
					transform-origin: 50% 50%;
					transform: rotate(-240deg);
					.debris1 {
						&:before {
							background-image: url('/images/opening/debris1.png');
							animation: debrisspin 6s linear infinite;
						}
						width: 8vh;
						height: 8vh;
					}
					.debris2 {
						&:before {
							background-image: url('/images/opening/debris2.png');
							animation: debrisspin 10s linear infinite;
						}
						width: 10vh;
						height: 10vh;
					}
					.debris3 {
						&:before {
							background-image: url('/images/opening/debris3.png');
							animation: debrisspin 8s linear infinite;
						}
						width: 9vh;
						height: 9vh;
					}
					.debris4 {
						&:before {
							background-image: url('/images/opening/debris4.png');
							animation: debrisspin 5.5s linear infinite;
						}
						width: 7vh;
						height: 7vh;
					}
				}
				&.show {
					display: block;
				}
				&.burst {
					.coins {
						.coin1 {
							animation: coinfly1 3.8s linear forwards;
						}
						.coin2 {
							animation: coinfly2 3.8s linear forwards;
						}
						.coin3 {
							animation: coinfly3 3.8s linear forwards;
						}
						.coin4 {
							animation: coinfly4 3.8s linear forwards;
						}
						.coin5 {
							animation: coinfly5 3.8s linear forwards;
						}
						.coin6 {
							animation: coinfly6 3.8s linear forwards;
						}
						.coin7 {
							animation: coinfly7 3.8s linear forwards;
						}
						.coin8 {
							animation: coinfly8 3.8s linear forwards;
						}
						.coin9 {
							animation: coinfly9 3.8s linear forwards;
						}
						.coin10 {
							animation: coinfly10 3.8s linear forwards;
						}
					}
					.explosion1, .explosion2 {
						animation: growfade 3.8s linear forwards;
					}
					.debris-debris {
						.debris1 {
							animation: flynw 3.8s linear forwards;
						}
						.debris2 {
							animation: flysw 3.8s linear forwards;
						}
						.debris3 {
							animation: flyne 3.8s linear forwards;
						}
						.debris4 {
							animation: flyse 3.8s linear forwards;
						}
					}
					.debris-paper {
						.paper1 {
							animation: flynw 3.8s linear forwards;
						}
						.paper2 {
							animation: flysw 3.8s linear forwards;
						}
						.paper3 {
							animation: flyne 3.8s linear forwards;
						}
						.paper4 {
							animation: flyse 3.8s linear forwards;
						}
					}
					.debris-gems {
						.gem1 {
							animation: flyse 3.8s linear forwards;
						}
						.gem2 {
							animation: flynw 3.8s linear forwards;
						}
						.gem3 {
							animation: flyne 3.8s linear forwards;
						}
						.gem4 {
							animation: flysw 3.8s linear forwards;
						}
					}
					.debris-more-gems {
						.gem1 {
							animation: flyne 3.8s linear forwards;
						}
						.gem2 {
							animation: flysw 3.8s linear forwards;
						}
						.gem3 {
							animation: flyse 3.8s linear forwards;
						}
						.gem4 {
							animation: flynw 3.8s linear forwards;
						}
					}
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
	}
	&.open-in {
		transform-origin: 50% 50%;
		animation: openin .5s linear forwards;
	}
}

@keyframes growfade {
	0%, 21% {opacity: 0; transform: scale(0.5)}
	28% {opacity: 1; transform: scale(1)}
	40%, 100% {opacity: 0; transform: scale(1.3)}
}

@keyframes packburst {
	99.9% { background-position: left bottom; opacity: 1 }
	100% { background-position: left bottom; opacity: 0 }
}

@keyframes coinflip {
	100% { background-position: left bottom; }
}

@keyframes pulse {
	0%, 100% {opacity: 0.7;}
  50% {opacity: 1;}
}

@keyframes shockwave {
	70% {opacity: 1; background-size: auto 100%;}
	100% {opacity: 0;}
}

@keyframes flynw {
	0%, 18.9% {top: 50%; left: 61.5%; opcity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  63%, 100% {top: -150%; left: -110%; tranfrorm: scale(6);}
}

@keyframes flysw {
	0%, 18.9% {top: 50%; left: 61.5%; opacity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  75%, 100% {top: 150%; left: -110%; tranfrorm: scale(9);}
}

@keyframes flyne {
	0%, 18.9% {top: 50%; left: 61.5%; opacity: 0; transform: scale(1)}
	19% {top: 50%; left: 61.5%; opacity: 1; transform: scale(1)}
  80%, 100% {top: -150%; left: 110%; tranfrorm: scale(7);}
}

@keyframes flyse {
	0%, 18.9% {top: 50%; left: 61.5%; transform: scale(1); opacity: 0;}
	19% {top: 50%; left: 61.5%; transform: scale(1); opacity: 1;}
  65%, 70% {top: 150%; left: 110%; transform: scale(9); opacity: 1;}
  75%, 100% {top: 150%; left: 110%; transform: scale(9); opacity: 0;}
}

@keyframes debrisspin {
	0% {transform: translateX(-50%) translateY(-50%) rotate(0deg);}
  100% {transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}

@keyframes openin {
  0% {opacity: 0; transform: scale(0.7);}
  100% {opacity: 1; transform: scale(1);}
}

@keyframes coinfly1 {
	0%, 19% {top:50%; left: 50%;}
	70%, 100% {top: -10%; left: 10%;}
}
@keyframes coinfly2 {
	0%, 19% {top:50%; left: 50%;}
	50%, 100% {top: 30%; left: -110%;}
}
@keyframes coinfly3 {
	0%, 19% {top:50%; left: 50%;}
	55%, 100% {top: 50%; left: 110%;}
}
@keyframes coinfly4 {
	0%, 19% {top:50%; left: 50%;}
	65%, 100% {top: -10%; left: 50%;}
}
@keyframes coinfly5 {
	0%, 19% {top:50%; left: 50%;}
	60%, 100% {top: 150%; left: -110%;}
}
@keyframes coinfly6 {
	0%, 19% {top:50%; left: 50%;}
	55%, 100% {top: 80%; left: 110%;}
}
@keyframes coinfly7 {
	0%, 19% {top:50%; left: 50%;}
	70%, 100% {top: 110%; left: 90%;}
}
@keyframes coinfly8 {
	0%, 19% {top:50%; left: 50%;}
	50%, 100% {top: -10%; left: 110%;}
}
@keyframes coinfly9 {
	0%, 19% {top:50%; left: 50%;}
	60%, 100% {top: 30%; left: 120%;}
}
@keyframes coinfly10 {
	0%, 19% {top:50%; left: 50%;}
	65%, 100% {top: 110%; left: 40%;}
}