@import "./mixins.scss";
.hs-options {
	background: url(/images/options.png) no-repeat center center;
	background-size: auto 100%;
	width: calc(25vh * 1.98);
	height: 25vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(0) translateX(-50%) translateY(-90%);
	transform-origin: 0 -50%;
	z-index: 10;
	.title {
		text-align: center;
		color: white;
		@include stroked;
		margin-top: 0.7vh;
    font-size: 1.8vh;
	}
	&.open {
		animation: obounceIn .3s forwards;
	}
	.options-content {
		padding: 0 5vh;
		position: relative;
		z-index: 20;
	}
}

@keyframes obounceIn {
  0% {transform: scale(.6) translateX(-50%) translateY(-90%)}
  50% {transform: scale(1.1) translateX(-50%) translateY(-90%)}
  75% {transform: scale(0.9) translateX(-50%) translateY(-90%)}
  100% { transform: scale(1) translateX(-50%) translateY(-90%)}
}