@import "./mixins.scss";
.quest-greet {
	text-align: center;
	.today-banner {
		position: relative;
		display: block;
		background: url(/images/home/title-banner.png) no-repeat center center;
		background-size: 100% auto;
		height: calc(80vh * .148);
		width: calc(80vh * .148 * 5);
		line-height: calc(80vh * .1);
		margin: 0 auto 40px;
		z-index: 2;
		color: white;
		@include stroked;
		font-size: 2.5vh;
	}
	.banner-glow {
		mask-image: url(/images/home/title-mask.png);
		mask-repeat: no-repeat;
		mask-size: auto 100%;
		mask-position: center center;
		position: absolute;
		z-index: 1;
		height: calc(80vh * .148 * 1.48);
		width: calc(80vh * .148 * 5 * 1.2);
		top: 1px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		animation: slide 20s linear infinite;
		background: url(/images/global/blue-glow.png) repeat center center;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(68, 54, 247, 0.3);
		}
	}
	> p {
		margin: 50px 0;
		color: white;
	}
}

.quest-boxes {
	width: calc((80vh * .413 * .86 * 3) + 30px);
	.quest-box {
		display: inline-block;
		margin: 0 5px;
		height: calc(80vh * .413);
		width: calc(80vh * .413 * .86);
		background: url(/images/home/quest-tile-front.png) no-repeat center center;
		background-size: 100% 100%;
	}
}

.quest-log {
	height: 90vh;
	width: calc((806 / 833) * 90vh);
	background: url(/images/home/quest-log.png) no-repeat center center;
	background-size: 100% 100%;
	h2 {
		text-align: center;
		color: white;
		font-size: 2.8vh;
		padding-top: 1.4vh;
		margin-bottom: 5vh;
		@include stroked;
	}
	.hero-skills {
		width: 86%;
		margin: 0 auto;
		height: calc(90vh * .425);
		h3 {
			color: #9e573d;
			text-align: center;
			display: block;
			font-size: 2.3vh;
			padding-top: 1.7vh;
			margin-bottom: 0.4vh;
		}
		.skill-box {
			display: inline-block;
			width: 31%;
			margin: 1.2vh 1%;
			position: relative;
			img {
				width: 100%;
				height: auto;
				position: relative;
				z-index: 1;
			}
		}
	}
	.total-level {
		text-align: center;
		h3 {
			font-size: 2.3vh;
			margin: 0.8vh 0 6.7vh;
			color: #c4b47c;
			@include stroked;
			span {
				color: white;
			}
		}
	}
	.quest-boxes {
		width: 89%;
		margin: 0 auto;
		.quest-box {
			height: calc(90vh * .307);
    	width: calc(90vh * .307 * .86);
    	margin: 0 1.33%;
		}
	}
}

@keyframes slide {
    0% { background-position: 0 0; }
    100% { background-position: -512px 512px; }
}