.hs-warning {
	position: absolute;
	width: calc(17vh * 3.54);
	height: 17vh;
	background: url(/images/global/warning.png) no-repeat center center;
	background-size: auto 100%;
	left: 22vw;
	bottom: 10vh;
	z-index: 100;
	transform: scale(0);
	&.open {
		display: block;
		animation: wbounceIn .3s forwards;
	}
	.warning-content {
		width: 70%;
		height: 85%;
		margin: 2% 0 2% 30%;
		h3 {
			padding: 1vh;
	    font-size: 3vh;
	    line-height: 4.5vh;
		}
	}
}