<!DOCTYPE html>
	<html lang="en">
	<head>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta charset="utf-8"/>
	  <title>Hearthstoned</title>
	</head>
	<body>
		<div id="hearthstoned"></div>
		<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	</body>
</html>
